:root {
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navy-blue: #2E2F42;
  --green: #31D0AA;
  --slate: #434455;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
  --navy-blue-modal: #2E2F42;
  --grey: #2E2F42;
  --white: #FFFFFF;
  --dairy: #FCFCFC;
}

/* NORMILIZE */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--white);
  color: var(--navy-blue);
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

ul {
  list-style-type: none;
}

/* GENERAL */

.hidden {
  display: none;
}

/* BUTTONS */

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
}

.primary-button {
  background-color: var(--iris);
  color: var(--white);
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--ocean);
}

.secondary-button {
  background-color: var(--cloud);
  color: var(--iris);
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

/* TYPOGRAPHY */

.header-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
}

.header-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 700;
}

.header-3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.text-s {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.text-m {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-link {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.text-center {
  text-align: center;
}

.bg-navy-blue {
  background-color: var(--navy-blue);
}

.bg-cloud {
  background-color: var(--cloud);
}

.tc-iris {
  color: var(--iris);
}

.tc-navy-blue {
  color: var(--navy-blue);
}

.tc-cloud {
  color: var(--cloud);
}

.tc-slate {
  color: var(--slate);
}

.tc-white {
  color: var(--white);
}

 /* LOGO */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

 /* NAVIGATION */

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}
